@charset "UTF-8";


/* BASE
-------------------------------------------------- */
$img: '/';
$baseFontColor: #1a1a1a;
$baseFontColorInverse: #e5e5e5;
$baseFontSize: 13px;
$baseLineHeight: 18px;
$baseFontFamily: "Helvetica Neue",Helvetica,Arial,"游ゴシック","YuGothic","Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro","Meiryo","メイリオ","ＭＳ ゴシック",sans-serif;
$baseSelectedColor: #e0ccd2;
$baseLinkColor: #000;
$baseHoverColor: #b81649;
$baseBorderColor: #d9d9d9;
$baseBorderColorInverse: #fefefe;

$black: #333;
$gray: #808080;
$white: #fff;
